*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header.fixed{
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    padding: 2rem;
    position: fixed;
    z-index: 1;

}
ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

}

li{
    margin-left: 2rem;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: white;


}

a{
    font-size: 1.3rem;
    text-decoration: none;
    align-self: center;
    font-weight: 900;
}

section.box{
    height: 100vh;
    position: relative;

}
section.red {
    background-color: #ff0000;
}

section.green {
    background-color: #008000;
   
}

section.yellow {
    background-color: #ffff00;
}
h1.green-title{
    color: #008000;
}
    h1.yellow-title{
color: #ffff00;
}

div.product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
}

h1.shoes-title{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}